.info-header {
    background-color: #11b7e6;
    color: #fff;
}
.build-info {
    background-color: #e9ecef;
    margin: 20px;
}
.text-success {
    color: #28a745!important;
    background: #d9ecde;
    padding: 6px;
    font-size: 15px;
}
.text-danger {
    color: #f51f33!important;
    background: #efc5c9;
    padding: 6px;
    font-size: 15px;
}
.parameter-list {
    // overflow-y: auto;
    // max-height: 875px;
    & > .list-group-item {
        background: #e9ecef;
    }
}
.view-logs {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px;
    background-color: #9ca4ab;
    &:hover {
        background-color: #90979e;
    }
}