@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url(//db.onlinewebfonts.com/c/29dc27977e417a98e56556776f41607c?family=Corbel);
/* @import '../node_modules/jquery/dist/jquery.js'; */
body {
  margin: 0;
  overflow: hidden;
  font-family: corbel;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe {
  width: 100%;
}

